
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap'); 
body
{
 margin:0px;
 padding:0px;
 background-color:#F0F0F3;
 font-family: 'Poppins', sans-serif;
}


.sign-in{
   width: 340px;
    height: 625px;
padding: 15px 17px 15px 14px;
 box-shadow: inset -8px -8px 8px 0 rgba(174, 174, 192, 0.25),
    inset 8px 8px 8px 0 #fff,
   -8px -8px 24px 0 #fff,
    8px 8px 24px 0 rgba(174, 174, 192, 0.4);
   
 border-radius:20px;
 position:absolute;
 left:50%;
 top:50%;
 transform:translate(-50%,-50%);
 background-color:#F0F0F3;
 z-index: 1;
 box-sizing: border-box;
 overflow: hidden;
 
 
 
}

.main-page{
 width: 100%;
 height: 55%;
 background-color:#F0F0F3;
 border-radius: 0% 0% 50% 50% / 0% 0% 30% 30%;
 background-image:URL("https://images.wallpaperscraft.com/image/road_asphalt_marking_130996_3840x2160.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 position: relative;
 
}
.sign-in-page,
.sign-up-page{
 width: 100%;
 height: 54%;
 
}
.cancel{
 position: absolute;
 left: 50%;
 bottom: -25px;
 transform: translateX(-50%);
 width: 50px;
 height: 50px;
 border-radius: 50%;
 background-color:#F8F8F8;
 font-size: 1.2rem;
 display: flex;
 justify-content: center;
 align-items: center;
 box-shadow:-2px -2px 10px 0 #fff,
  2px 2px 10px 0 rgba(174, 174, 192, 0.4);
}
.cancel a i{
 color: #111111;
}
.sign-in-page form,
.sign-up-page form{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100%;
 width: 100%;
}
.sign-in-page input,
.sign-up-page input{
 width: 245px;
 height: 40px;
 margin: 10px 0px;
 background: transparent;
 border:none;
 outline: none;
 color: #191919;
 border-radius: 10px;
 padding: 0px 10px;
 box-sizing: border-box;
 box-shadow: -4px -4px 10px 0 #fff, 4px 4px 10px 0 rgba(174, 174, 192, 0.4);
 
}
.sign-in-page input::placeholder,
.sign-up-page input::placeholder{
 letter-spacing: 1px;
 font-family: 'Poppins', sans-serif;
 font-size: 14px;
}
.sign-in-page button,
.sign-up-page button{
 width: 220px;
 height: 40px;
 font-family: 'Poppins', sans-serif;
 margin: 10px 0px;
 border:none;
 outline: none;
 border-radius: 20px;
 background-color: #FFFFFF;
 box-shadow: -4px -4px 10px 0 #fff, 4px 4px 10px 0 rgba(174, 174, 192, 0.4);
 
 
}
.sign-in-page button:hover,
.sign-up-page button:hover{
 background-color: #ff8111;
 color: #FFFFFF;
 transition: all ease 0.3s;
}
.sign-in-page input:focus,
.sign-up-page input:focus{
box-shadow:
 inset -4px -4px 10px 0 #fff, 
 inset 4px 4px 10px 0 rgba(174, 174, 192, 0.4);
}

.sign-in-page,.cancel,.sign-up-page{
 display: none;
}
.main-page{
 height: 100%;
 border-radius: 20px;
}
.name{
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
 text-align: center;
 font-family: 'Poppins', sans-serif;
 color: #fff;
}
.name h1{
 font-size: 2.5rem;
 color:#F8F8F8;
 margin: 0px;
 letter-spacing: 2px;
 
}
.name p{
 color:rgba(217,217,217,1);
 margin: 0px;
 font-size: 1.2rem;
}
.form-btns{
 position: absolute;
 left: 50%;
 bottom: 40px;
 transform: translateX(-50%);
 text-align: center;
}
.f-btn,.s-btn{
 width:230px;
 height: 42px;
 margin: 5px 0px;
 border: none;
 outline: none;
 border-radius: 20px;
 font-family: 'Poppins', sans-serif;
 text-transform: uppercase;
 font-size: 0.9rem;
 letter-spacing: 1px;
 font-weight: 700;
 box-shadow: 2px 2px 30px rgba(0,0,0,0.5);
}
.f-btn{
 color:#FFFFFF;
 background-color: #1863E7;
 margin-bottom: 20px;
}
.s-btn{
 background-color: #FFFFFF;
 color: #171717;
}
.form-btns a{
 color: #fff;
 letter-spacing: 1px;
 font-family: 'Poppins', sans-serif;
 text-decoration: none;
 
}
button:active{
 transform: scale(1.05);
}
.active-sign-in .form-btns,
.active-sign-up .form-btns{
 display: none;
 
}
.active-sign-in .main-page,
.active-sign-up .main-page{
 height: 46%;
 border-radius:5% 5% 50% 50%/5% 5% 20% 20%;
 animation:main 0.2s linear;
 
}
.active-sign-in .sign-in-page,
.active-sign-in .cancel{
 display: flex;
}
.active-sign-up .sign-up-page,
.active-sign-up .cancel{
 display: flex;
}
.active-sign-up .cancel i,
.active-sign-in .cancel i{
 animation: cancel 0.5s ;
 
}
@keyframes main{
 0%{
  height:100%;
 }
 100%{
  height:55%;
 }
}
@keyframes cancel{
 0%{
  opacity: 0;
  transform: rotate(-190deg);
  
 }
 100%{
  opacity: 1;
  transform: rotate(0deg);
  
 }
}

  
